# Flutter 및 Dart 관련 파일 무시
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.dart_tool
.idea
.vscode
*.iml

# 운영 체제 관련 파일 무시
.DS_Store
Thumbs.db

# 로그 파일 및 임시 파일 무시
*.log
*.tmp

# Node.js 및 npm 관련 파일 무시 (웹 빌드 시 필요할 수 있음)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel 배포 시 필요한 예외 설정
!build/web

# macOS 관련 파일 무시
*.DS_Store

# Windows 관련 파일 무시
*.exe
*.dll
*.pdb
*.db

# Linux 관련 파일 무시
*.so

# 기타 무시할 파일들
*.lock
